@import "tailwindcss";

@theme {
  --color-moon-rose: #b39793;
  --color-moon-cream: #fcedda;
  --color-moon-white: #faf9f6;
  --color-moon-rose-dark: #8a6e6c;
  --color-moon-rose-light: #dcc0bd;
  --color-moon-contrast: #2f2a28;

  --font-playfair: var(--font-playfair);
  --font-montserrat: var(--font-montserrat);
}
